.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items:center;
  color: white;
}
.item1{
  flex-basis: 90%;
  text-align: left;
  font-style: oblique;
  font-size: calc(15px + 2vmin);
}
.item2{
  flex-basis: 5%;
  
}
.item3{
  flex-basis: 5%;
}

.App-footer{
  background-color: #282c34;
  min-height: 5vh;
  color: white;
}

.App-body{
  min-height: 85vh;
  display: flex;
}
.left-item{
  flex-basis: 20%;
}
.right-item{
  flex-basis: 80%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
